{"swagger":"2.0","info":{"description":"OffBlock description of API.","version":"API TOS","title":"OffBlock API","termsOfService":"Terms of service","contact":{"name":"Technoperi","url":"www.technoperia.com","email":"myeaddress@company.com"},"license":{"name":"License of API","url":"API license URL"}},"host":"api.acc.off-blocks.com","basePath":"/offblocks","tags":[{"name":"auth-controller","description":"Auth Controller"},{"name":"file-controller","description":"File Controller"},{"name":"user-controller","description":"User Controller"}],"paths":{"/api/auth/signin":{"post":{"tags":["auth-controller"],"summary":"authenticateUser","operationId":"authenticateUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"loginRequest","description":"loginRequest","required":true,"schema":{"$ref":"#/definitions/LoginRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JwtAuthenticationResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/auth/signup":{"post":{"tags":["auth-controller"],"summary":"registerUser","operationId":"registerUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"signUpRequest","description":"signUpRequest","required":true,"schema":{"$ref":"#/definitions/SignUpRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JwtAuthenticationResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file":{"get":{"tags":["file-controller"],"summary":"getFileDetails","operationId":"getFileDetailsUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FileDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["file-controller"],"summary":"deleteFile","operationId":"deleteFileUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/file/annotated-pdf":{"post":{"tags":["file-controller"],"summary":"createAnnotatedPdf","operationId":"createAnnotatedPdfUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"formData","name":"data","description":"data","required":true,"schema":{"type":"string"}},{"name":"file","in":"formData","description":"file","required":true,"type":"array","items":{"type":"file"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FileDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/annotated-signatory":{"post":{"tags":["file-controller"],"summary":"createAnnotatedPdfOnSignatory","operationId":"createAnnotatedPdfOnSignatoryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"formData","name":"data","description":"data","required":true,"schema":{"type":"string"}},{"name":"file","in":"formData","description":"file","required":true,"type":"array","items":{"type":"file"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FileDetailsDTO"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/audit/by-hash":{"get":{"tags":["file-controller"],"summary":"auditFileByHash","operationId":"auditFileByHashUsingGET","produces":["*/*"],"parameters":[{"name":"hash","in":"query","description":"hash","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuditResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/chain-id":{"get":{"tags":["file-controller"],"summary":"getFileDetailsByChainId","operationId":"getFileDetailsByChainIdUsingGET","produces":["*/*"],"parameters":[{"name":"chainId","in":"query","description":"chainId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FileDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/file/create":{"post":{"tags":["file-controller"],"summary":"createFile","operationId":"createFileUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"in":"formData","name":"data","description":"data","required":true,"schema":{"type":"string"}},{"name":"file","in":"formData","description":"file","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FileDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/create-template":{"post":{"tags":["file-controller"],"summary":"createFileTemplate","operationId":"createFileTemplateUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"in":"formData","name":"data","description":"data","required":true,"schema":{"type":"string"}},{"name":"file","in":"formData","description":"file","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FileDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/download-signatories/{annotatedFileId}":{"get":{"tags":["file-controller"],"summary":"downloadOutputSignatoryFile","operationId":"downloadOutputSignatoryFileUsingGET","produces":["*/*"],"parameters":[{"name":"annotatedFileId","in":"path","description":"annotatedFileId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Resource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/download-template/{templateId}":{"get":{"tags":["file-controller"],"summary":"downloadOutputTemplateFile","operationId":"downloadOutputTemplateFileUsingGET","produces":["*/*"],"parameters":[{"name":"templateId","in":"path","description":"templateId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Resource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/download/{fileId}":{"get":{"tags":["file-controller"],"summary":"downloadOutputFile","operationId":"downloadOutputFileUsingGET","produces":["*/*"],"parameters":[{"name":"fileId","in":"path","description":"fileId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Resource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/file-statistics":{"get":{"tags":["file-controller"],"summary":"getGeneralFileStatusStatistics","operationId":"getGeneralFileStatusStatisticsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FileStatisticsDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/files":{"get":{"tags":["file-controller"],"summary":"getUserFiles","operationId":"getUserFilesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FileDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/history":{"get":{"tags":["file-controller"],"summary":"getFileHistory","operationId":"getFileHistoryUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FileDetailsDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/managed":{"get":{"tags":["file-controller"],"summary":"getManagedFileDetails","operationId":"getManagedFileDetailsUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FileDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/managed/download/{fileId}":{"get":{"tags":["file-controller"],"summary":"downloadManagedOutputFile","operationId":"downloadManagedOutputFileUsingGET","produces":["*/*"],"parameters":[{"name":"fileId","in":"path","description":"fileId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Resource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/managed/signatory":{"post":{"tags":["file-controller"],"summary":"managedFileSignatoryProcess","operationId":"managedFileSignatoryProcessUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"formData","name":"data","description":"data","required":true,"schema":{"type":"string"}},{"name":"file","in":"formData","description":"file","required":true,"type":"array","items":{"type":"file"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FileDetailsDTO"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/object-chain":{"get":{"tags":["file-controller"],"summary":"getObjectChainId","operationId":"getObjectChainIdUsingGET","produces":["*/*"],"parameters":[{"name":"hash","in":"query","description":"hash","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/page-size":{"post":{"tags":["file-controller"],"summary":"getPdfPageSizes","operationId":"getPdfPageSizesUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PdfPageSizeDTO"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/prove":{"get":{"tags":["file-controller"],"summary":"proveFile","operationId":"proveFileUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/prove/{fileId}":{"get":{"tags":["file-controller"],"summary":"proveOutputFile","operationId":"proveOutputFileUsingGET","produces":["*/*"],"parameters":[{"name":"fileId","in":"path","description":"fileId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Resource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/proveit":{"post":{"tags":["file-controller"],"summary":"proveFileValidity","operationId":"proveFileValidityUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"fileRequest","description":"fileRequest","required":true,"schema":{"$ref":"#/definitions/FileRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/signatory":{"post":{"tags":["file-controller"],"summary":"fileSignatoryProcess","operationId":"fileSignatoryProcessUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"fileSignatoryDTO","description":"fileSignatoryDTO","required":true,"schema":{"$ref":"#/definitions/FileSignatoryDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FileDetailsDTO"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/signature-history":{"get":{"tags":["file-controller"],"summary":"getSignatureHistory","operationId":"getSignatureHistoryUsingGET","produces":["*/*"],"parameters":[{"name":"fileTypes","in":"query","description":"fileTypes","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"isProcessed","in":"query","description":"isProcessed","required":true,"type":"boolean"},{"name":"title","in":"query","description":"title","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FileDetailsDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/signing-expiry":{"get":{"tags":["file-controller"],"summary":"updateFileSigningExpiry","operationId":"updateFileSigningExpiryUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/template":{"delete":{"tags":["file-controller"],"summary":"deleteTemplate","operationId":"deleteTemplateUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/file/templates":{"get":{"tags":["file-controller"],"summary":"getUserTemplates","operationId":"getUserTemplatesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FileDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/file/undersigned":{"get":{"tags":["file-controller"],"summary":"getUndersignedFiles","operationId":"getUndersignedFilesUsingGET","produces":["*/*"],"parameters":[{"name":"isProcessed","in":"query","description":"isProcessed","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FileDetailsDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/file/versioned-signatory":{"post":{"tags":["file-controller"],"summary":"fileSignatoryProcess","operationId":"fileSignatoryProcessUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"fileVersionedSignatoryDTO","description":"fileVersionedSignatoryDTO","required":true,"schema":{"$ref":"#/definitions/FileVersionedSignatoryDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FileDetailsDTO"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/user":{"delete":{"tags":["user-controller"],"summary":"deleteUser","operationId":"deleteUserUsingDELETE","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/user/activate":{"post":{"tags":["user-controller"],"summary":"userActivation","operationId":"userActivationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userActivationRequest","description":"userActivationRequest","required":true,"schema":{"$ref":"#/definitions/UserActivationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/user/chain":{"get":{"tags":["user-controller"],"summary":"getUserIdentityChainId","operationId":"getUserIdentityChainIdUsingGET","produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/user/checkEmailAvailability":{"get":{"tags":["user-controller"],"summary":"checkEmailAvailability","operationId":"checkEmailAvailabilityUsingGET","produces":["*/*"],"parameters":[{"name":"email","in":"query","description":"email","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserIdentityAvailability"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/user/checkUsernameAvailability":{"get":{"tags":["user-controller"],"summary":"checkUsernameAvailability","operationId":"checkUsernameAvailabilityUsingGET","produces":["*/*"],"parameters":[{"name":"username","in":"query","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserIdentityAvailability"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/user/contact":{"post":{"tags":["user-controller"],"summary":"createOrUpdateContact","operationId":"createOrUpdateContactUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userContactsDTO","description":"userContactsDTO","required":true,"schema":{"$ref":"#/definitions/UserContactsDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserContactsDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["user-controller"],"summary":"deleteContact","operationId":"deleteContactUsingDELETE","produces":["*/*"],"parameters":[{"name":"email","in":"query","description":"email","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/user/contacts":{"get":{"tags":["user-controller"],"summary":"getContacts","operationId":"getContactsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserContactsDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/user/edit":{"put":{"tags":["user-controller"],"summary":"editUser","operationId":"editUserUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"editUserRequest","description":"editUserRequest","required":true,"schema":{"$ref":"#/definitions/EditUserRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/user/emailVerification":{"post":{"tags":["user-controller"],"summary":"emailVerification","operationId":"emailVerificationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"emailVerificationRequest","description":"emailVerificationRequest","required":true,"schema":{"$ref":"#/definitions/EmailVerificationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserIdentityAvailability"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/user/me":{"get":{"tags":["user-controller"],"summary":"getCurrentUser","operationId":"getCurrentUserUsingGET","produces":["*/*"],"parameters":[{"name":"accountNonExpired","in":"query","required":false,"type":"boolean"},{"name":"accountNonLocked","in":"query","required":false,"type":"boolean"},{"name":"authorities[0].authority","in":"query","required":false,"type":"string"},{"name":"business","in":"query","required":false,"type":"boolean"},{"name":"credentialsNonExpired","in":"query","required":false,"type":"boolean"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"enabled","in":"query","required":false,"type":"boolean"},{"name":"id","in":"query","required":false,"type":"string"},{"name":"joinedAt","in":"query","required":false,"type":"string","format":"date-time"},{"name":"lastName","in":"query","required":false,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"password","in":"query","required":false,"type":"string"},{"name":"username","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserSummary"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/user/publicKeyVerification":{"post":{"tags":["user-controller"],"summary":"publicKeyVerification","operationId":"publicKeyVerificationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userActivationRequest","description":"userActivationRequest","required":true,"schema":{"$ref":"#/definitions/UserActivationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserIdentityAvailability"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/user/reset-password":{"post":{"tags":["user-controller"],"summary":"resetUserPassword","operationId":"resetUserPasswordUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"email","in":"query","description":"email","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/user/settings":{"put":{"tags":["user-controller"],"summary":"updateUserSettings","operationId":"updateUserSettingsUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userSettingsDTO","description":"userSettingsDTO","required":true,"schema":{"$ref":"#/definitions/UserSettingsDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserSettingsDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/user/signatory-list":{"get":{"tags":["user-controller"],"summary":"getSignatoryLists","operationId":"getSignatoryListsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SignatoryListsDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["user-controller"],"summary":"createSignatoryLists","operationId":"createSignatoryListsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"signatoryListsRequest","description":"signatoryListsRequest","required":true,"schema":{"$ref":"#/definitions/SignatoryListsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SignatoryListsDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["user-controller"],"summary":"deleteSignatoryList","operationId":"deleteSignatoryListUsingDELETE","produces":["*/*"],"parameters":[{"name":"signatoryListId","in":"query","description":"signatoryListId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/user/signatory-list-id":{"get":{"tags":["user-controller"],"summary":"getSignatoryListById","operationId":"getSignatoryListByIdUsingGET","produces":["*/*"],"parameters":[{"name":"signatoryListId","in":"query","description":"signatoryListId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SignatoryListsDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/user/testEmail":{"get":{"tags":["user-controller"],"summary":"testEmail","operationId":"testEmailUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/users":{"get":{"tags":["user-controller"],"summary":"getUsersByNameOrEmailOrStaffNumber","operationId":"getUsersByNameOrEmailOrStaffNumberUsingGET","produces":["*/*"],"parameters":[{"name":"search","in":"query","description":"search","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserProfile"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/users/{username}":{"get":{"tags":["user-controller"],"summary":"getUserProfile","operationId":"getUserProfileUsingGET","produces":["*/*"],"parameters":[{"name":"username","in":"path","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserProfile"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"definitions":{"ApiResponse":{"type":"object","properties":{"message":{"type":"string"},"success":{"type":"boolean"}},"title":"ApiResponse"},"AuditResponse":{"type":"object","properties":{"blockchainEvents":{"type":"array","items":{"$ref":"#/definitions/BlockchainEvent"}},"fileDetails":{"type":"array","items":{"$ref":"#/definitions/FileDTO"}}},"title":"AuditResponse"},"BlockchainEvent":{"type":"object","properties":{"blockchainEvidencePointers":{"$ref":"#/definitions/BlockchainEvidence"},"eventRole":{"type":"string","enum":["ObjectCreator","ObjectCreatorPF","ObjectSigner","EvidenceCreator","NotarizeCreator","OriginalChainId","nextAnnotationSigner"]},"userProfile":{"$ref":"#/definitions/UserProfile"}},"title":"BlockchainEvent"},"BlockchainEvidence":{"type":"object","properties":{"context":{"type":"string"},"identityChainId":{"type":"string"},"identityEntryId":{"type":"string"},"identityReplaySignature":{"type":"string"},"objectChainId":{"type":"string"},"objectEntryAnchorTime":{"type":"string","format":"date-time"},"objectEntryId":{"type":"string"},"objectReplaySignature":{"type":"string"}},"title":"BlockchainEvidence"},"EditUserRequest":{"type":"object","properties":{"company":{"type":"string"},"email":{"type":"string"},"jobTitle":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"signatoryListsDTO":{"type":"array","items":{"$ref":"#/definitions/SignatoryListsDTO"}},"staffNumber":{"type":"string"}},"title":"EditUserRequest"},"EmailVerificationRequest":{"type":"object","properties":{"email":{"type":"string"},"pin":{"type":"string"}},"title":"EmailVerificationRequest"},"File":{"type":"object","properties":{"absolute":{"type":"boolean"},"absoluteFile":{"$ref":"#/definitions/File"},"absolutePath":{"type":"string"},"canonicalFile":{"$ref":"#/definitions/File"},"canonicalPath":{"type":"string"},"directory":{"type":"boolean"},"executable":{"type":"boolean"},"file":{"type":"boolean"},"freeSpace":{"type":"integer","format":"int64"},"hidden":{"type":"boolean"},"lastModified":{"type":"integer","format":"int64"},"name":{"type":"string"},"parent":{"type":"string"},"parentFile":{"$ref":"#/definitions/File"},"path":{"type":"string"},"readable":{"type":"boolean"},"totalSpace":{"type":"integer","format":"int64"},"usableSpace":{"type":"integer","format":"int64"},"writable":{"type":"boolean"}},"title":"File"},"FileAnnotationsDTO":{"type":"object","properties":{"color":{"type":"string"},"email":{"type":"string"},"fileName":{"type":"string"},"fontSize":{"type":"integer","format":"int32"},"height":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"pageHeight":{"type":"integer","format":"int32"},"pageWidth":{"type":"integer","format":"int32"},"placeholder":{"type":"string"},"type":{"type":"string"},"value":{"type":"string"},"width":{"type":"integer","format":"int32"},"xcoordinate":{"type":"integer","format":"int32"},"ycoordinate":{"type":"integer","format":"int32"}},"title":"FileAnnotationsDTO"},"FileDTO":{"type":"object","properties":{"blockchainEventRole":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"createdByProfile":{"$ref":"#/definitions/UserProfile"},"expiryDate":{"type":"string","format":"date-time"},"fileAnnotations":{"type":"array","items":{"$ref":"#/definitions/FileAnnotationsDTO"}},"fileName":{"type":"string"},"fileSignatories":{"type":"array","items":{"$ref":"#/definitions/FileSignatoriesDTO"}},"fileTitle":{"type":"string"},"hasExpired":{"type":"boolean"},"hasManagedUserSign":{"type":"boolean"},"hash":{"type":"string"},"id":{"type":"string"},"isEvidence":{"type":"boolean"},"isOrdered":{"type":"boolean"},"isSigningCompleted":{"type":"boolean"},"latitude":{"type":"string"},"longitude":{"type":"string"},"modifiedName":{"type":"string"},"newAnnotationChainId":{"type":"string"},"newAnnotationHash":{"type":"string"},"objectChainId":{"type":"string"},"preAnnotationChainId":{"type":"string"},"preAnnotationHash":{"type":"string"},"totalSigners":{"type":"integer","format":"int32"},"type":{"type":"string"}},"title":"FileDTO"},"FileDetailsDTO":{"type":"object","properties":{"blockchainEventRole":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"email":{"type":"string"},"fileId":{"type":"string"},"fileName":{"type":"string"},"fileTitle":{"type":"string"},"fileType":{"type":"string"},"hasExpired":{"type":"boolean"},"hasReject":{"type":"boolean"},"hash":{"type":"string"},"isEvidence":{"type":"boolean"},"isOrdered":{"type":"boolean"},"isProcessed":{"type":"boolean"},"isSigned":{"type":"boolean"},"isSigningCompleted":{"type":"boolean"},"modifiedName":{"type":"string"},"newAnnotationHash":{"type":"string"},"revisionDate":{"type":"string","format":"date-time"},"totalSignedBy":{"type":"integer","format":"int32"},"totalSigners":{"type":"integer","format":"int32"}},"title":"FileDetailsDTO"},"FileRequest":{"type":"object","properties":{"blockchainEventRole":{"type":"string"},"deviceID":{"type":"string"},"expiryDate":{"type":"string","format":"date-time"},"fileAnnotations":{"type":"array","items":{"$ref":"#/definitions/FileAnnotationsDTO"}},"fileName":{"type":"string"},"fileTitle":{"type":"string"},"hash":{"type":"string"},"id":{"type":"string"},"isOrdered":{"type":"boolean"},"latitude":{"type":"string"},"longitude":{"type":"string"},"originalChainId":{"type":"string"},"replayObjectContent":{"type":"string"},"signatories":{"type":"object","additionalProperties":{"type":"string"}},"signedHash":{"type":"string"},"signedObjectContent":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"totalSigners":{"type":"integer","format":"int32"}},"title":"FileRequest"},"FileSignatoriesDTO":{"type":"object","properties":{"annotatedFileChainId":{"type":"string"},"annotatedFileHash":{"type":"string"},"annotatedFileId":{"type":"string"},"isProcessed":{"type":"boolean"},"isSigned":{"type":"boolean"},"revisionDate":{"type":"string","format":"date-time"},"signatoriesOrder":{"type":"integer","format":"int32"},"userProfile":{"$ref":"#/definitions/UserProfile"}},"title":"FileSignatoriesDTO"},"FileSignatoryDTO":{"type":"object","properties":{"annotationObjectChainId":{"type":"string"},"fileAnnotations":{"type":"array","items":{"$ref":"#/definitions/FileAnnotationsDTO"}},"fileId":{"type":"string"},"isSigned":{"type":"boolean"},"replaySignatureContent":{"type":"string"},"signatureTimestamp":{"type":"string","format":"date-time"},"signedHash":{"type":"string"}},"title":"FileSignatoryDTO"},"FileStatisticsDTO":{"type":"object","properties":{"completed":{"type":"integer","format":"int64"},"expiringSoon":{"type":"integer","format":"int64"},"inProgress":{"type":"integer","format":"int64"},"requiresMySignature":{"type":"integer","format":"int64"}},"title":"FileStatisticsDTO"},"FileVersionedSignatoryDTO":{"type":"object","properties":{"fileId":{"type":"string"},"isSigned":{"type":"boolean"},"newChainFirstContent":{"type":"string"},"newChainSecondContent":{"type":"string"},"newChainSignerContent":{"type":"string"},"orgChainSignerContent":{"type":"string"},"prevChainSignerContent":{"type":"string"},"signatureTimestamp":{"type":"string","format":"date-time"},"signedHashNew":{"type":"string"},"signedHashOriginal":{"type":"string"},"signedHashPrevious":{"type":"string"}},"title":"FileVersionedSignatoryDTO"},"InputStream":{"type":"object","title":"InputStream"},"JwtAuthenticationResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"blockchainId":{"type":"string"},"business":{"type":"boolean"},"email":{"type":"string"},"id":{"type":"string"},"joinedAt":{"type":"string","format":"date-time"},"lastName":{"type":"string"},"name":{"type":"string"},"staffNumber":{"type":"string"},"tokenType":{"type":"string"},"userSettingsDTO":{"$ref":"#/definitions/UserSettingsDTO"}},"title":"JwtAuthenticationResponse"},"LoginRequest":{"type":"object","properties":{"deviceId":{"type":"string"},"password":{"type":"string"},"usernameOrEmail":{"type":"string"}},"title":"LoginRequest"},"PdfPageSizeDTO":{"type":"object","properties":{"height":{"type":"number","format":"float"},"page":{"type":"integer","format":"int32"},"width":{"type":"number","format":"float"}},"title":"PdfPageSizeDTO"},"Resource":{"type":"object","properties":{"description":{"type":"string"},"file":{"$ref":"#/definitions/File"},"filename":{"type":"string"},"inputStream":{"$ref":"#/definitions/InputStream"},"open":{"type":"boolean"},"readable":{"type":"boolean"},"uri":{"$ref":"#/definitions/URI"},"url":{"$ref":"#/definitions/URL"}},"title":"Resource"},"SignUpRequest":{"type":"object","properties":{"business":{"type":"boolean"},"deviceId":{"type":"string"},"email":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"password":{"type":"string"},"publicKey":{"type":"string"},"staffNumber":{"type":"string"},"username":{"type":"string"}},"title":"SignUpRequest"},"SignatoriesDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"signatoriesOrder":{"type":"integer","format":"int32"},"userProfile":{"$ref":"#/definitions/UserProfile"}},"title":"SignatoriesDTO"},"SignatoryListsDTO":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"signatories":{"type":"array","items":{"$ref":"#/definitions/SignatoriesDTO"}}},"title":"SignatoryListsDTO"},"SignatoryListsRequest":{"type":"object","properties":{"listName":{"type":"string"},"signatories":{"type":"object","additionalProperties":{"type":"string"}},"signatoryListId":{"type":"string"},"userId":{"type":"string"}},"title":"SignatoryListsRequest"},"URI":{"type":"object","properties":{"absolute":{"type":"boolean"},"authority":{"type":"string"},"fragment":{"type":"string"},"host":{"type":"string"},"opaque":{"type":"boolean"},"path":{"type":"string"},"port":{"type":"integer","format":"int32"},"query":{"type":"string"},"rawAuthority":{"type":"string"},"rawFragment":{"type":"string"},"rawPath":{"type":"string"},"rawQuery":{"type":"string"},"rawSchemeSpecificPart":{"type":"string"},"rawUserInfo":{"type":"string"},"scheme":{"type":"string"},"schemeSpecificPart":{"type":"string"},"userInfo":{"type":"string"}},"title":"URI"},"URL":{"type":"object","properties":{"authority":{"type":"string"},"content":{"type":"object"},"defaultPort":{"type":"integer","format":"int32"},"deserializedFields":{"$ref":"#/definitions/URLStreamHandler"},"file":{"type":"string"},"host":{"type":"string"},"path":{"type":"string"},"port":{"type":"integer","format":"int32"},"protocol":{"type":"string"},"query":{"type":"string"},"ref":{"type":"string"},"serializedHashCode":{"type":"integer","format":"int32"},"userInfo":{"type":"string"}},"title":"URL"},"URLStreamHandler":{"type":"object","title":"URLStreamHandler"},"UserActivationRequest":{"type":"object","properties":{"email":{"type":"string"},"identityChainContent":{"type":"string"},"password":{"type":"string"},"publicKey":{"type":"string"},"replaySignatureContent":{"type":"string"},"signedIdentityChain":{"type":"string"},"signedPublicKey":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}},"title":"UserActivationRequest"},"UserContactsDTO":{"type":"object","properties":{"company":{"type":"string"},"email":{"type":"string"},"id":{"type":"string"},"jobTitle":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"signatoryListsDTO":{"type":"array","items":{"$ref":"#/definitions/SignatoryListsDTO"}}},"title":"UserContactsDTO"},"UserIdentityAvailability":{"type":"object","properties":{"available":{"type":"boolean"}},"title":"UserIdentityAvailability"},"UserProfile":{"type":"object","properties":{"company":{"type":"string"},"email":{"type":"string"},"id":{"type":"string"},"jobTitle":{"type":"string"},"joinedAt":{"type":"string","format":"date-time"},"lastName":{"type":"string"},"name":{"type":"string"},"signatoryLists":{"type":"array","items":{"$ref":"#/definitions/SignatoryListsDTO"}},"username":{"type":"string"}},"title":"UserProfile"},"UserSettingsDTO":{"type":"object","properties":{"notifyOnCompletedDocuments":{"type":"boolean"},"notifyOnEachSignature":{"type":"boolean"},"notifyOnSignatureRequest":{"type":"boolean"},"notifyViaEmail":{"type":"boolean"},"notifyViaNotification":{"type":"boolean"},"sound":{"type":"boolean"},"vibrate":{"type":"boolean"}},"title":"UserSettingsDTO"},"UserSummary":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"username":{"type":"string"}},"title":"UserSummary"}}}